<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Imersão Full Stack && Full Cycle 2.0</title>
    <link
      href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link
      href="https://getbootstrap.com/docs/4.5/examples/checkout/form-validation.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body class="container">
    <div style="color: white;">
      <h1>Imersão Full Cycle</h1>
    </div>
  </body>
</html>


<style>
 body {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url(https://i.pinimg.com/originals/fa/8d/e8/fa8de8a38a9759b66e7389d1892539de.jpg) no-repeat center; 
  background-color: black; 
  width: 100vw; 
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
 }
</style>